@use 'base/variables' as v;
@use 'base/mixins' as m;

.pagination{
  display: flex;
  justify-content: space-between;

  @include m.tablet{
    flex-direction: column;

    button{
      margin: .7rem 0;
      padding: 1rem 0rem;
    }
  }
}